body{
    background: #fff;
}
.cart_navigation button{
    width: 180px;
    background: rgb(235, 136, 79);
    margin-bottom: 10px;
    color: black;
    
}
.cart_navigation .btn button{
    text-align: left;
}
